// Configs
const vk = {
    token: `string`, // Токен от сообщества
    pollingGroupId: 1 // ID группы
};

const vkcoin = {
    key: `string`, // VKCOIN Token
    userId: 1, // VK UserID (чей ключ)
    token: `string` // VK token (чей ключ)
};

const db = {
    urlDB: `mongodb://localhost:27017/`, // URL mongoose (mongodb)
    dbName: `rcore` // db name
};

module.exports = { vk, vkcoin, db };